                           @model IEnumerable<Barbearia_Estética.Models.ViewAgendamentoVM>


@{
    Layout = "~/Views/Shared/_LayoutGereciamento.cshtml";
}
<body>

    <section class="maneger-page-section">
        <div class="container page-maneger">

            <div class="add-user-button">
                <h1 class="section-title cliente-title-maneger">Gerenciamento de Agendamento</h1>
                <br />
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-4">
                            <input id="filtro" type="text" class="form-control" placeholder="Pesquisar Agendamento"
                                   aria-label="Filtrar" aria-describedby="basic-addon2">
                        </div>
                    </div>
                    <div class="col-md-6 text-md-end">
                        <!-- Alteração para "text-md-end" para alinhar à direita apenas em telas médias e maiores -->
                        <button class="btn btn-success btn-lg" onclick="" data-bs-toggle="modal"
                                data-bs-target="#InserirUsuario">
                            <i class="fa fa-plus"></i> Adicionar Agendamento
                        </button>
                    </div>
                </div>
            </div>

            <!-- Tabela com cabeçalho fixo -->
            <table id="TbAtendimentos" class="table" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
                <thead style="background-color: chocolate; color: #EAE7DC;">
                    <tr>
                        <th style="border: 1px solid #ddd; padding: 8px; min-width: 50px; position: sticky; top: 0; background-color: #A65F3C">#</th>
                        <th style="border: 1px solid #ddd; padding: 8px; min-width: 150px; position: sticky; top: 0; background-color: #A65F3C;">Data/Hora de Atendimento</th>
                        <th style="border: 1px solid #ddd; padding: 8px; min-width: 150px; position: sticky; top: 0; background-color: #A65F3C;">Data de Atendimento</th>
                        <th style="border: 1px solid #ddd; padding: 8px; min-width: 150px; position: sticky; top: 0; background-color: #A65F3C;">Hora</th>
                        <th style="border: 1px solid #ddd; padding: 8px; min-width: 150px; position: sticky; top: 0; background-color: #A65F3C;">Nome</th>
                        <th style="border: 1px solid #ddd; padding: 8px; min-width: 150px; position: sticky; top: 0; background-color: #A65F3C;">E-mail</th>
                        <th style="border: 1px solid #ddd; padding: 8px; min-width: 150px; position: sticky; top: 0; background-color: #A65F3C;">Telefone</th>
                        <th style="border: 1px solid #ddd; padding: 8px; min-width: 150px; position: sticky; top: 0; background-color: #A65F3C;">Tipo de Serviço</th>
                        <th style="border: 1px solid #ddd; padding: 8px; min-width: 150px; position: sticky; top: 0; background-color: #A65F3C;">Valor</th>
                        <th class="editar" style="border: 1px solid #ddd; padding: 8px; min-width: 80px; position: sticky; top: 0; background-color: #A65F3C;">Editar</th>
                        <th class="excluir" style="border: 1px solid #ddd; padding: 8px; min-width: 80px; position: sticky; top: 0; background-color: #A65F3C;">Excluir</th>
                    </tr>
                </thead>
            </table>

            <!-- Corpo da tabela rolável -->
            <div style="max-height: 300px; overflow-y: auto; overflow-x: auto;">
                <table id="TbAtendimentosBody" class="table" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
                    <tbody>
                        @foreach (var atendimento in Model)
                        {
                            <tr>
                                <td style="color: black; border: 1px solid #ddd; padding: 8px; min-width: 50px">@atendimento.Id</td>
                                <td style="color: black; border: 1px solid #ddd; padding: 8px; min-width: 150px">@atendimento.DtHoraAgendamento</td>
                                <td style="color: black; border: 1px solid #ddd; padding: 8px; min-width: 150px">@atendimento.DataAgendamento.ToString("dd/MM/yyyy")</td>
                                <td style="color: black; border: 1px solid #ddd; padding: 8px; min-width: 150px">@atendimento.Horario.ToString("HH:mm")</td>
                                <td style="color: black; border: 1px solid #ddd; padding: 8px; min-width: 150px">@atendimento.Nome</td>
                                <td style="color: black; border: 1px solid #ddd; padding: 8px; min-width: 150px; word-wrap: break-word;">@atendimento.Email</td>
                                <td style="color: black; border: 1px solid #ddd; padding: 8px; min-width: 150px">@atendimento.Telefone</td>
                                <td style="color: black; border: 1px solid #ddd; padding: 8px; min-width: 150px">@atendimento.TipoServico</td>
                                <td style="color: black; border: 1px solid #ddd; padding: 8px; min-width: 150px">@atendimento.Valor.ToString("C")</td>
                                <td class="text-center" style="border: 1px solid #ddd; min-width: 80px;">
                                    <button class="btn btn-default" onclick="definirEdt('@atendimento.Id', '@atendimento.Nome', '@atendimento.TipoServico', '@atendimento.Valor')" data-bs-toggle="modal" data-bs-target="#EditarAtendimento" style="color: #EAE7DC;">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </td>
                                <td class="text-center" style="border: 1px solid #ddd; min-width: 80px;">
                                    <button class="btn btn-default" onclick="definirExc('@atendimento.Id', '@atendimento.Nome', '@atendimento.TipoServico', '@atendimento.Valor')" data-bs-toggle="modal" data-bs-target="#ExcluirAtendimento" style="color: #EAE7DC;">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
        <!--Butao Voltar-->

        <section class="container text-center">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <div>
                    <button type="button" id="send-button2" class="nav-link active btn btn-danger btn-block"
                            style="flex: 1; margin-left: 5px;" onclick="window.location.href = '/Home/Index';">
                        Voltar
                    </button>
                </div>
            </div>
        </section>

        <div class="modal fade" id="EditarUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" id="exampleModalLabel">Editar Agendamento</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <p style="color:red">Campos com * vermelho são obrigatórios</p>

                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="EditNome" type="text" class="form-control" placeholder="Digite o nome">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:red">*</label>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="EditSenha" type="text" class="form-control" placeholder="Digite o email">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:red">*</label>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-7">
                                    <input id="EditEmail" type="email" class="form-control"
                                           placeholder="Digite o Telefone">
                                </div>
                                <div class="col-md-5">
                                    <label style="color:red">*</label>
                                </div>
                            </div>


                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="EditTel" type="text" class="form-control" placeholder="Digite a data">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:red">*</label>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="EditSenha" type="text" class="form-control"
                                           placeholder="Digite o Horário">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:red">*</label>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="EditSenha" type="text" class="form-control"
                                           placeholder="Digite a Técnica">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:red">*</label>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="EditSenha" type="text" class="form-control" placeholder="Digite o valor">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:red">*</label>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="EditSenha" type="text" class="form-control"
                                           placeholder="Digite a Confirmação ">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:red">*</label>
                                </div>
                            </div>


                            <input type="hidden" id="IdEdt" value="" />

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" onclick=" AlterarUsuario()">Salvar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ExcluirUsuario" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" id="exampleModalLabel">Excluir Agendamento</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="nome">Nome</label>
                                <input type="text" id="ExcNome" class="form-control" placeholder="Digite o nome"
                                       readonly>
                            </div>

                            <div class="mb-3">
                                <label for="email">Email</label>
                                <input type="email" id="ExcEmail" class="form-control" placeholder="Digite o email"
                                       readonly>
                            </div>

                            <div class="mb-3">
                                <label for="telefone">Telefone</label>
                                <input type="text" id="ExcTel" class="form-control" placeholder="Digite o telefone"
                                       readonly>
                            </div>

                            <div class="mb-3">
                                <label for="telefone">Data</label>
                                <input type="text" id="ExcTel" class="form-control" placeholder="Digite a data"
                                       readonly>
                            </div>

                            <div class="mb-3">
                                <label for="telefone">Horário</label>
                                <input type="text" id="ExcTel" class="form-control" placeholder="Digite o horário"
                                       readonly>
                            </div>

                            <div class="mb-3">
                                <label for="telefone">Telefone</label>
                                <input type="text" id="ExcTel" class="form-control" placeholder="Digite a técnica"
                                       readonly>
                            </div>

                            <div class="mb-3">
                                <label for="telefone">Telefone</label>
                                <input type="text" id="ExcTel" class="form-control" placeholder="Digite o valor"
                                       readonly>
                            </div>

                            <div class="mb-3">
                                <label for="telefone">Telefone</label>
                                <input type="text" id="ExcTel" class="form-control" placeholder="Digite a confirmação"
                                       readonly>
                            </div>


                            <input type="hidden" id="IdExc" class="form-control" placeholder="Digite seu nome..."
                                   readonly>
                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="button" onclick="ExcluirUsuario()" class="btn btn-primary">Excluir</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="InserirUsuario" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" id="exampleModalLabel">Adicionar Agendamento</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3 d-flex align-items-center">
                                <input type="hidden" id="TxtIdM" class="form-check-input" value="10:00"
                                       style="margin-right: 10px;" disabled>
                            </div>
                            <div class="mb-3 d-flex align-items-center">
                                <input id="data_agdtM" type="date" class="form-control" style="width: 300px;"
                                       placeholder="Escolha a data do agendamento"
                                       oninput="consultarAgendamentoM();consultarAgendamentoManutencaoM()">
                            </div>
                            <div class="mb-4 row">
                                <div class="col-md-8">
                                    <select id="Servico" class="form-select">
                                        <option value="" disabled selected>Escolha o serviço</option>
                                        <option value="Volume5D">Designer de cabelos masculino</option>
                                        <option value="EfeitoSirene">Corte de Cabelo padrão</option>
                                        <option value="Volume5D">Estilos de Barba e Bigode</option>
                                        <option value="EfeitoSirene">Barba Expressa</option>
                                        <option value="Volume5D">Coloração de Cabelo</option>
                                        <option value="EfeitoSirene">Pacote de Manutenção Mensal</option>
                                    </select>
                                </div>
                            </div>


                            <div class="mb-3 d-flex align-items-center">
                                <input type="checkbox" id="chk08M" class="form-check-input" value="08:00"
                                       style="margin-right: 10px;" data-group="horario" disabled>
                                <label class="form-check-label" for="chk08">Atendimento das 8:00</label>
                                <span id="Span08M" style="color:red;"></span>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <input type="checkbox" id="chk10M" class="form-check-input" value="10:00"
                                       style="margin-right: 10px;" data-group="horario" disabled>
                                <label class="form-check-label" for="chk10">Atendimento das 10:00</label>
                                <span id="Span10M" style="color:red;"></span>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <input type="checkbox" id="chk13M" class="form-check-input" value="13:00"
                                       style="margin-right: 10px;" data-group="horario" disabled>
                                <label class="form-check-label" for="chk13">Atendimento das 13:00</label>
                                <span id="Span13M" style="color:red;"></span>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <input type="checkbox" id="chk15M" class="form-check-input" value="15:00"
                                       style="margin-right: 10px;" data-group="horario" disabled>
                                <label class="form-check-label" for="chk15">Atendimento das 15:00</label>
                                <span id="Span15M" style="color:red;"></span>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <input type="checkbox" id="chk17M" class="form-check-input" value="17:00"
                                       style="margin-right: 10px;" data-group="horario" disabled>
                                <label class="form-check-label" for="chk17">Atendimento das 17:00</label>
                                <span id="Span17M" style="color:red;"></span>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <input type="checkbox" id="chk19M" class="form-check-input" value="19:00"
                                       style="margin-right: 10px;" data-group="horario" disabled>
                                <label class="form-check-label" for="chk19">Atendimento das 19:00</label>
                                <span id="Span19M" style="color:red;"></span>
                            </div>

                            <input type="hidden" id="IdEdt" value="">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary"
                                onclick="InserirAgendamentoManutencao()">
                            Adicionar
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </section>

</body>

